@font-face {
    src: url("Normal/Inter-Light.woff2") format("woff2"),
         url("Normal/Inter-Light.woff") format("woff");
                 
    font-family: 'Inter';
    font-weight:  400;
    
}
@font-face {
    src: url("SemiBold/Inter-SemiBold.woff2") format("woff2"),
         url("SemiBold/Inter-SemiBold.woff") format("woff");
    font-family: 'Inter';
    font-weight:  500;
    
}
@font-face {
    src: url("Bold/Inter-Bold.woff2") format("woff2"),
         url("Bold/Inter-Bold.woff") format("woff");
    font-family: 'Inter';
    font-weight:  700;
    
}


